body {
    color: #333e48;
    font-family: 'sans-serif';
    font-style: normal;
    font-weight: 400;
    letter-spacing: .5px;
    padding-left: 1rem;
    padding-right: 1rem;
}

h1,
h2,
h3 {
    color: #333e48;
    font-family: 'sans-serif';
    font-style: normal;
    font-weight: 400;
}

h1 {
    font-size: 70px;
    letter-spacing: -.5px;
    line-height: 1;
    margin: .5em 0;
}

h2,
h3 {
    font-size: 60px;
    line-height: 1;
    margin: .5em 0;
}

p {
    font-size: 35px;
    line-height: 36px;
    margin-bottom: 1em;
}

pre {
    background-color: lightgray !important;
    line-height: 1.2rem;
    margin-bottom: 1.5rem;
    margin-right: .05rem;
    margin-top: 0;
    overflow: wrap;
    padding: 1rem;
}

code {
    background-color: transparent;
    font-weight: bold;
}

code,
pre {
    color: #333e48;
    font-size: 30px;
    font-weight: bold;
}

.test {
    background-color: lightgray;
    margin-bottom: 1.5rem;
    margin-right: .05rem;
    margin-top: 0;
    overflow: wrap;
    padding: 1rem;
    font-weight: bold;
    font-size: 30px;
}
